@model TotMotor.Models.Escuderia

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Escuderia</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Nom, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nom)
                @Html.ValidationMessageFor(model => model.Nom)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Logotip, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Logotip)
                @Html.ValidationMessageFor(model => model.Logotip)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripció, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripció)
                @Html.ValidationMessageFor(model => model.Descripció)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nom_pilotID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nom_pilotID)
                @Html.ValidationMessageFor(model => model.nom_pilotID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
