@model IEnumerable<TotMotor.Models.Escuderia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logotip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripció)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nom_pilotID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Logotip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripció)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nom_pilotID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
