@model IEnumerable<TotMotor.Models.Noticies>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Títol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contingut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_publicació)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Autor_Noticia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Títol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contingut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_publicació)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Autor_Noticia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
