@model TotMotor.Models.Contacte

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Contacte</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telèfon, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telèfon)
                @Html.ValidationMessageFor(model => model.Telèfon)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Direcció, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Direcció)
                @Html.ValidationMessageFor(model => model.Direcció)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Codi_Postal, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Codi_Postal)
                @Html.ValidationMessageFor(model => model.Codi_Postal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Població, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Població)
                @Html.ValidationMessageFor(model => model.Població)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pais, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pais)
                @Html.ValidationMessageFor(model => model.Pais)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
