@model TotMotor.Models.Contacte

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Contacte</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telèfon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telèfon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direcció)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direcció)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codi_Postal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codi_Postal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Població)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Població)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pais)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
